body{
    text-align: center;
}

.canvas-container {
    width: 37vw;
    margin: 10px auto;
    background-color: rgb(0, 170, 255);
    border: 1px solid black;
}

canvas {
    background-color: white;
    border: 1px solid rgb(255, 2, 2);
}