.main-layout {
    display: grid;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1 / -1;
}

.main-header .logo {
        margin: 28px 0px 28px 81px;
}

.main-header .main-nav {
    display: grid;
    grid-auto-flow: column;
    margin-inline-end: 5vw;
    gap:1.25em
}

.main-header .main-nav a {
    display: grid;
    justify-content: center;
    align-items: center;

    transition: box-shadow 0.2s;
    will-change: box-shadow;
}